<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432623255704-ann50403dhtng3ec9er55cs85pmge30i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432623255704-ann50403dhtng3ec9er55cs85pmge30i</string>
	<key>API_KEY</key>
	<string>AIzaSyBrZTSwKy24FCWcBcOyj9JRaVQeNQUflSg</string>
	<key>GCM_SENDER_ID</key>
	<string>432623255704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PipsNotSulution.WikiCars</string>
	<key>PROJECT_ID</key>
	<string>wikicars-c61a4</string>
	<key>STORAGE_BUCKET</key>
	<string>wikicars-c61a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:432623255704:ios:ea73190f278752313f90ed</string>
</dict>
</plist>
